body {
  font-family: 'Helvetica Neue', Helvetica;
  color: white;
  margin: 0px;
  padding: 0px;
  border: 0px;
}
#top-bar {
  margin: 0px;
  padding: 10px;
  border: 0px;
  background-color: #283850;
}
#page {
  margin-top: 30px;
  margin-bottom: 40px;
}
#name {
  margin-left: 10px;
  font-size: 1.2em;
  transform: translate(0, -50%);
}
#title {
  position: absolute;
  left: 50%;
  text-align: center;
  font-size: 2em;
  transform: translate(-50%, 0);
}
#home {
  position: absolute;
  right: 20px;
  text-align: right;
  font-size: 1.5em;
  transform: translate(0, -50%);
}
h1, h2, h3 {
  margin-left: 40px;
  margin-right: 40px;
}
h1 {
  color: #202122;
  text-align: center;
  font-size: 1.7em;
}
h2 {
  color: #202122;
  text-align: left;
  font-size: 1.4em;
}
h3 {
  color: #777;
  text-align: left;
  font-size: 1.1em;
}
a {
  color: inherit;
  text-decoration: underline;
}
.noul {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.al {
  text-align: left;
}
.ac {
  text-align: center;
}
.white: {
  color: white;
}
.light {
  color: #777
}
.dark {
  color: #202122;
}
span {
  color: #202122;
}
.tiny {
  font-size: 10px;
}
.ul {
  text-decoration: underline;
  color: #202122;
}
.lm {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
i {
  color: blue;
}
pre {
  white-space: pre-wrap;
}
code, .code {
  font-size: 1.2em;
  border-left: 4px solid blue;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 5px;
  padding-bottom: 5px;
  margin-left: 40px;
  margin-right: 40px;
  background-color: #eee;
  color: #202122;
}
.boxed {
  background-color: #eee;
  color: #202122;
  padding-left: 4px;
  padding-right: 4px;
  font-family: monospace;
}
div {
  width: 800px;
  margin-left: 50%;
  transform: translate(-50%, 0);
  margin-top: 30px;
  border: 1px solid blue;
}
.card {
  background-color: white;
  transition: background-color 0.1s;
}
.card:hover {
  background-color: rgba(0, 0, 255, 0.05);
  transition: background-color 0.1s;
  cursor: pointer;
}
.noent:hover {
  cursor: not-allowed;
}